.cards-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 900px) {
  .cards-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .cards-container {
    padding: 10px;
  }
}
