nav {
  width: 100%;
  background: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

nav ul {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

nav li {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: white;
  transition: color 0.3s;
}

nav li:hover {
  color: rgb(193, 96, 246);
}

@media (max-width: 768px) {
  nav ul {
    gap: 20px;
    font-size: 14px;
  }
}
