footer {
  margin-top: 80px;
  padding: 30px 20px;
  text-align: center;
  font-size: 14px;
  color: #9ca3af;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background: black;
}

@media (max-width: 500px) {
  footer {
    font-size: 12px;
    padding: 20px 10px;
  }
}